<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hello world</span>
  <span class="example-spacer"></span>


  <a title="LinkenIn Thierry Trollé" href="https://www.linkedin.com/in/thierry-troll%C3%A9/" target="_blank"><span class="iconify" data-icon="logos:linkedin-icon" data-width="45" data-height="45"></span></a>
  &nbsp;
  <a title="Github Thierry Trollé" href="https://github.com/thierryTrolle" target="_blank"><span class="iconify" data-icon="fa-brands:github-square" data-width="50" data-height="50"></span></a>

</mat-toolbar>
